/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen { zmk,matrix-transform = &five_column_transform; };
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_left_par {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <12 13>;
        };

        combo_right_par {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <16 17>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&mt ESC Q  &kp W  &kp F  &kp R                 &kp P             &kp G                  &kp J                    &kp L  &kp U          &mt DEL Y               &kp A  &kp R
&kp S      &kp T  &kp D  &kp H                 &kp N             &kp E                  &kp I                    &kp O  &kp Z          &kp X                   &kp C  &kp V
&kp B      &kp K  &kp M  &mt SEMICOLON PERIOD  &mt COLON PERIOD  &mt BACKSLASH SLASH    &mt LEFT_SHIFT LEFT_WIN  &mo 1  &mt TAB SPACE  &mt LEFT_CONTROL ENTER  &mo 2  &mt LEFT_ALT BACKSPACE
            >;
        };

        left {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp N1                 &kp N2                          &kp N3                      &kp N4        &kp N5     &kp N6       &kp N7  &kp N8    &kp N9       &kp N0          &mt QUESTION EXCLAMATION    &mt DOLLAR AMPERSAND
&mt DOUBLE_QUOTES SQT  &mt RIGHT_BRACKET LEFT_BRACKET  &mt PERCENT HASH            &trans        &kp LEFT   &kp RIGHT    &kp UP  &kp DOWN  &kp AT_SIGN  &mt PIPE TILDE  &mt GREATER_THAN LESS_THAN  &mt MINUS PLUS
&mt UNDERSCORE EQUAL   &trans                          &mt RIGHT_BRACE LEFT_BRACE  &kp ASTERISK  &kp CARET  &trans       &trans  &trans    &trans       &trans          &trans                      &trans
            >;
        };

        right {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        cond {
            bindings = <
&kp F1        &kp F2        &kp F3        &kp F4  &kp F5  &kp F6     &kp F7  &kp F8   &kp F9      &kp F10         &bt BT_SEL 0  &bt BT_SEL 1
&bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans  &trans  &trans     &trans  &kp F11  &bt BT_CLR  &bt BT_CLR_ALL  &trans        &trans
&bootloader   &bootloader   &trans        &trans  &trans  &kp F12    &trans  &trans   &trans      &trans          &trans        &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        Cond {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
